{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}
{% block subtitle %}Choose one below. The more you use the tool, the more accurate it gets!{% endblock %}
{% block main %}
<!-- Criteria -->
<div class="post-preview">
    <a href=""><h2 class="post-title">Criteria (Undo)</h2></a>
    <p class="post-meta">
        <ul>
            <li>Budget: HKD {{ budget }}</li>
            <li>Range: {{ range }} km</li>
            <li>Current location: {{ lat }}, {{ long }}</li>
        </ul>
    </p>
</div>
<hr class="my-4" />
<!-- Restaurant 1 preview-->
<div class="post-preview">
    <a href="?r={{ ai[0][4] }}">
        <h2 class="post-title">{{ ai[0][0] }}</h2>
        <h3 class="post-subtitle">Keywords: {{ ai[0][1][0] }}, {{ ai[0][1][1] }}</h3>
    </a>
    <p class="post-meta">
        Address: {{ ai[0][2] }}<br>
        <a href="https://www.google.com/maps/search/?api=1&query={{ ai[0][3][0] }},{{ ai[0][3][1] }}" target="_blank">Google Maps Directions</a>
    </p>
</div>
<hr class="my-4" />
<!-- Restaurant 2 preview-->
<div class="post-preview">
    <a href="?r={{ ai[1][4] }}">
        <h2 class="post-title">{{ ai[1][0] }}</h2>
        <h3 class="post-subtitle">Keywords: {{ ai[1][1][0] }}, {{ ai[1][1][1] }}</h3>
    </a>
    <p class="post-meta">
        Address: {{ ai[1][2] }}<br>
        <a href="https://www.google.com/maps/search/?api=1&query={{ ai[1][3][0] }},{{ ai[1][3][1] }}" target="_blank">Google Maps Directions</a>
    </p>
</div>
<hr class="my-4" />
<!-- Restaurant 3 preview-->
<div class="post-preview">
    <a href="?r={{ ai[2][4] }}">
        <h2 class="post-title">{{ ai[2][0] }}</h2>
        <h3 class="post-subtitle">Keywords: {{ ai[2][1][0] }}, {{ ai[2][1][1] }}</h3>
    </a>
    <p class="post-meta">
        Address: {{ ai[2][2] }}<br>
        <a href="https://www.google.com/maps/search/?api=1&query={{ ai[2][3][0] }},{{ ai[2][3][1] }}" target="_blank">Google Maps Directions</a>
    </p>
</div>
<hr class="my-4" />
{% endblock %}