{% extends "base.html" %}
{% block title %}FoodAR{% endblock %}
{% block subtitle %}The Food AI Recommender<br>Don't know what to eat? I am here to help.{% endblock %}
{% block main %}
    <p>Fill in the criteria below and FoodAR will recommend you some restaurants to eat at.</p>
    <div class="my-5">
        {% if num_errors > 0 %}
            {% for error in errors %}
                <p class="invalid-feedback">{{ error }}</p>     
            {% endfor %}
        {% endif %}
        <form action="{{ url_for('main') }}" method="POST">
            <div class="form-floating">
                <input class="form-control" id="budget" name="budget" min="" max="" placeholder="50">
                <label for="budget">Budget (per-person, in HKD)</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="range" name="range" min="" max="" placeholder="1">
                <label for="range">Range of search (5-25 km)</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="lat" name="lat" min="" max="" placeholder="22.3">
                <label for="lat">Current latitude (number form, e.g. 22.3)</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="long" name="long" min="" max="" placeholder="114.18">
                <label for="long">Current longitude (number form, e.g. 114.18)</label>
            </div>
            <br>
            <!-- CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <!-- Submit Button-->
            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Recommend!</button>
        </form>
    </div>
{% endblock %}