{% extends "base.html" %}
{% block title %}Please wait.{% endblock %}
{% block subtitle %}This will take around 5 minutes, do NOT close this tab.{% endblock %}
{% block main %}
<p>
    Congratulations! You have reached a milestone in using FoodAR!<br>
    The AI system is now learning your preference and will provide more suitable recommendations afterwards.<br>
    This will take a while as the system manipulates literally millions of numbers. Thanks for your patience.<br>
    After 5 minutes, reload this website and request a recommendation again.<br><br>
</p>
{% endblock %}